@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply appearance-none mb-2 border rounded w-full py-2 px-3 leading-tight bg-[#252525] text-white;
  }

  .button {
    @apply bg-[#141414] w-full my-2 hover:border-rose-500 hover:bg-rose-500 shadow-md border border-white transition-all text-white font-bold py-2 px-4 rounded;
  }

  .btn-dander {
    @apply bg-red-100 text-red-700 w-full my-2 hover:bg-red-200 shadow-md border border-white transition-all font-bold py-2 px-4 rounded;
  }

  .label {
    @apply block text-white text-lg font-bold mb-2;
  }
}



body {
  background-color: #141414;
  font-family: 'work sans';
  min-height: 100vh;
}